body {
  padding-top: 50px;
}

.WaitingForm {
position:absolute;
background-color:gray;
opacity:0.3;
background-image:url("../images/al4.gif");
background-position:center;
background-repeat:no-repeat;

z-index:2;

-webkit-transform:translate(0,-25%);
-ms-transform:translate(0,-25%);
transform:translate(0,-25%);
-webkit-transition:-webkit-transform .3s ease-out;
-moz-transition:-moz-transform .3s ease-out;
-o-transition:-o-transform .3s ease-out;
transition:transform .3s ease-out;
}

.ViewWin_Norm {
  position:relative;  
  padding: 15px 15px 15px;  
  text-align:center;
  /*margin:30px 50px 50px 50px;*/
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;  
  
}

/* Tweak display of the code snippets when following an example */
.ViewWin_Norm + .highlight {
  margin: -15px -15px 15px;
  border-radius: 0;
  border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .ViewWin_Norm {    
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .ViewWin_Norm + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* Undo width of container */
.ViewWin_Norm .container {
  width: auto;
}

/* Tweak content of examples for optimum awesome */
.ViewWin_Norm > p:last-child,
.ViewWin_Norm > ul:last-child,
.ViewWin_Norm > ol:last-child,
.ViewWin_Norm > blockquote:last-child,
.ViewWin_Norm > .form-control:last-child,
.ViewWin_Norm > .table:last-child,
.ViewWin_Norm > .navbar:last-child,
.ViewWin_Norm > .jumbotron:last-child,
.ViewWin_Norm > .alert:last-child,
.ViewWin_Norm > .panel:last-child,
.ViewWin_Norm > .list-group:last-child,
.ViewWin_Norm > .well:last-child,
.ViewWin_Norm > .progress:last-child,
.ViewWin_Norm > .table-responsive:last-child > .table {
  margin-bottom: 0;
}
.ViewWin_Norm > p > .close {
  float: none;
}

/* Typography */
.ViewWin_Norm-type .table .type-info {
  color: #999;
  vertical-align: middle;
}
.ViewWin_Norm-type .table td {
  padding: 15px 0;
  border-color: #eee;
}
.ViewWin_Norm-type .table tr:first-child td {
  border-top: 0;
}
.ViewWin_Norm-type h1,
.ViewWin_Norm-type h2,
.ViewWin_Norm-type h3,
.ViewWin_Norm-type h4,
.ViewWin_Norm-type h5,
.ViewWin_Norm-type h6 {
  margin: 0;
}

/* Contextual background colors */
.ViewWin_Norm-bg-classes p {
  padding: 15px;
}

/* Images */
.ViewWin_Norm > .img-circle,
.ViewWin_Norm > .img-rounded,
.ViewWin_Norm > .img-thumbnail {
  margin: 5px;
}

/* Tables */
.ViewWin_Norm > .table-responsive > .table {
  background-color: #fff;
}

/* Buttons */
.ViewWin_Norm > .btn,
.ViewWin_Norm > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.ViewWin_Norm > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

/* Forms */
.ViewWin_Norm-control-sizing select,
.ViewWin_Norm-control-sizing input[type="text"] + input[type="text"] {
  margin-top: 10px;
}
.ViewWin_Norm-form .input-group {
  margin-bottom: 10px;
}
.ViewWin_Norm > textarea.form-control {
  resize: vertical;
}

/* List groups */
.ViewWin_Norm > .list-group {
  max-width: 400px;
}


.GroupView {
  position:relative;  
  padding: 15px 15px 15px;  
  text-align:center;
  /*margin:30px 50px 50px 50px;*/
  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;  
  
}

/* Tweak display of the code snippets when following an example */
.GroupView + .highlight {
  margin: -15px -15px 15px;
  border-radius: 0;
  border-width: 0 0 1px;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .GroupView {    
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .GroupView + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

/* Undo width of container */
.GroupView .container {
  width: auto;
}

/* Tweak content of examples for optimum awesome */
.GroupView > p:last-child,
.GroupView > ul:last-child,
.GroupView > ol:last-child,
.GroupView > blockquote:last-child,
.GroupView > .form-control:last-child,
.GroupView > .table:last-child,
.GroupView > .navbar:last-child,
.GroupView > .jumbotron:last-child,
.GroupView > .alert:last-child,
.GroupView > .panel:last-child,
.GroupView > .list-group:last-child,
.GroupView > .well:last-child,
.GroupView > .progress:last-child,
.GroupView > .table-responsive:last-child > .table {
  margin-bottom: 0;
}
.GroupView > p > .close {
  float: none;
}

/* Typography */
.GroupView-type .table .type-info {
  color: #999;
  vertical-align: middle;
}
.GroupView-type .table td {
  padding: 15px 0;
  border-color: #eee;
}
.GroupView-type .table tr:first-child td {
  border-top: 0;
}
.GroupView-type h1,
.GroupView-type h2,
.GroupView-type h3,
.GroupView-type h4,
.GroupView-type h5,
.GroupView-type h6 {
  margin: 0;
}

/* Contextual background colors */
.GroupView-bg-classes p {
  padding: 15px;
}

/* Images */
.GroupView > .img-circle,
.GroupView > .img-rounded,
.GroupView > .img-thumbnail {
  margin: 5px;
}

/* Tables */
.GroupView > .table-responsive > .table {
  background-color: #fff;
}

/* Buttons */
.GroupView > .btn,
.GroupView > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.GroupView > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

/* Forms */
.GroupView-control-sizing select,
.GroupView-control-sizing input[type="text"] + input[type="text"] {
  margin-top: 10px;
}
.GroupView-form .input-group {
  margin-bottom: 10px;
}
.GroupView > textarea.form-control {
  resize: vertical;
}

/* List groups */
.GroupView > .list-group {
  max-width: 400px;
}
