﻿<%@ Application Language="C#" %>

<script runat="server">

    void Application_Start(object sender, EventArgs e)
    {
        // Code that runs on application startup

        SharedDataInfo.ServerName = "MODA-PC";
        SharedDataInfo.DataBaseName = "PaperBank";
        SharedDataInfo.UserName = "TaklifBazar";
        SharedDataInfo.Password = "177282523";

        SharedDataInfo.ServerName = "144.76.1.202,2008";
        SharedDataInfo.DataBaseName = "taklifba_TBDB";
        SharedDataInfo.UserName = "taklifba_MODA";
        SharedDataInfo.Password = "V@tdb$erver1390";

        

        SharedDataInfo.SMSServiceUsername = "9303843628";
        SharedDataInfo.SMSServicePassword = "1061";
        SharedDataInfo.SMSServiceLine = "50001333843628";

        SharedDataInfo.EmailUserPassInfor = new string[2];
        SharedDataInfo.EmailUserPassInfor[0] = "info@taklifbazar.com";
        SharedDataInfo.EmailUserPassInfor[1] = "177282523Mm!";

        SharedDataInfo.SecurityKey = "ru23k4wer8i8";
    }
    
    void Application_End(object sender, EventArgs e) 
    {
        //  Code that runs on application shutdown

    }
        
    void Application_Error(object sender, EventArgs e) 
    { 
        // Code that runs when an unhandled error occurs

    }

    void Session_Start(object sender, EventArgs e) 
    {
        // Code that runs when a new session is started

    }

    void Session_End(object sender, EventArgs e) 
    {
        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.

    }
       
</script>
